@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';

@import '@radix-ui/colors/sage.css';
@import '@radix-ui/colors/sage-dark.css';
@import '@radix-ui/colors/sage-alpha.css';
@import '@radix-ui/colors/sage-dark-alpha.css';

@import '@radix-ui/colors/jade.css';
@import '@radix-ui/colors/jade-dark.css';
@import '@radix-ui/colors/jade-alpha.css';
@import '@radix-ui/colors/jade-dark-alpha.css';

@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/amber-alpha.css';
@import '@radix-ui/colors/amber-dark-alpha.css';
