@import "tailwindcss";
@import "tw-animate-css";
@import "./colors.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-page-background: var(--page-background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-gray-1: var(--slate-1);
  --color-gray-2: var(--slate-2);
  --color-gray-3: var(--slate-3);
  --color-gray-4: var(--slate-4);
  --color-gray-5: var(--slate-5);
  --color-gray-6: var(--slate-6);
  --color-gray-7: var(--slate-7);
  --color-gray-8: var(--slate-8);
  --color-gray-9: var(--slate-9);
  --color-gray-10: var(--slate-10);
  --color-gray-11: var(--slate-11);
  --color-gray-12: var(--slate-12);

  --color-black-a1: var(--black-a1);
  --color-black-a2: var(--black-a2);
  --color-black-a3: var(--black-a3);
  --color-black-a4: var(--black-a4);
  --color-black-a5: var(--black-a5);
  --color-black-a6: var(--black-a6);
  --color-black-a7: var(--black-a7);
  --color-black-a8: var(--black-a8);
  --color-black-a9: var(--black-a9);
  --color-black-a10: var(--black-a10);
  --color-black-a11: var(--black-a11);
  --color-black-a12: var(--black-a12);

  --color-indigo-1: var(--indigo-1);
  --color-indigo-2: var(--indigo-2);
  --color-indigo-3: var(--indigo-3);
  --color-indigo-4: var(--indigo-4);
  --color-indigo-5: var(--indigo-5);
  --color-indigo-6: var(--indigo-6);
  --color-indigo-7: var(--indigo-7);
  --color-indigo-8: var(--indigo-8);
  --color-indigo-9: var(--indigo-9);
  --color-indigo-10: var(--indigo-10);
  --color-indigo-11: var(--indigo-11);
  --color-indigo-12: var(--indigo-12);
}

:root {
  --radius: 0.625rem;
  --page-background: oklch(1 0 0); /* --color-white */
  --background: oklch(1 0 0); /* --color-white */
  --foreground: var(--slate-12); /* --color-zinc-950 */
  --card: oklch(1 0 0); /* --color-white */
  --card-foreground: var(--slate-12); /* --color-zinc-950 */
  --popover: oklch(1 0 0); /* --color-white */
  --popover-foreground: var(--slate-12); /* --color-zinc-950 */
  /* --primary: oklch(0.21 0.006 285.885); --color-zinc-900 */
  --primary: #11131f; /* dark indigo-1 */
  /* --primary-foreground: oklch(0.985 0 0); --color-zinc-50 */
  --primary-foreground: var(--slate-1); /* --color-zinc-50 */
  --secondary: var(--slate-4); /* --color-zinc-100 */
  --secondary-foreground: var(--slate-12); /* --color-zinc-900 */
  --muted: var(--slate-3); /* --color-zinc-100 */
  --muted-foreground: var(--slate-11); /* --color-zinc-500 */
  --accent: var(--slate-4); /* --color-zinc-100 */
  --accent-foreground: var(--slate-12); /* --color-zinc-900 */
  --destructive: oklch(0.637 0.237 25.331); /* --color-red-500 */
  --destructive-foreground: oklch(0.637 0.237 25.331); /* --color-red-500 */
  --border: var(--slate-6); /* --color-zinc-200 */
  --input: var(--slate-7); /* --color-zinc-300 */
  --ring: var(--slate-7); /* --color-zinc-300 */
  --chart-1: oklch(0.646 0.222 41.116); /* --color-orange-600 */
  --chart-2: oklch(0.6 0.118 184.704); /* --color-teal-600 */
  --chart-3: oklch(0.398 0.07 227.392); /* --color-cyan-900 */
  --chart-4: oklch(0.828 0.189 84.429); /* --color-amber-400 */
  --chart-5: oklch(0.769 0.188 70.08); /* --color-amber-500 */
  --sidebar: oklch(0.985 0 0); /* --color-zinc-50 */
  --sidebar-foreground: oklch(0.141 0.005 285.823); /* --color-zinc-950 */
  --sidebar-primary: oklch(0.21 0.006 285.885); /* --color-zinc-900 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* --color-zinc-50 */
  --sidebar-accent: oklch(0.967 0.001 286.375); /* --color-zinc-100 */
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885); /* --color-zinc-900 */
  --sidebar-border: oklch(0.92 0.004 286.32); /* --color-zinc-200 */
  --sidebar-ring: oklch(0.871 0.006 286.286); /* --color-zinc-300 */
}

.dark {
  --page-background: #111111; /* --color-zinc-950 */
  --background: #111111; /* --color-zinc-950 */
  --foreground: var(--slate-1); /* --color-zinc-50 */
  --card: #111111; /* --color-zinc-950 */
  --card-foreground: var(--slate-1); /* --color-zinc-50 */ --sidebar: hsl(240 5.9% 10%); --sidebar-foreground: hsl(240 4.8% 95.9%); --sidebar-primary: hsl(224.3 76.3% 48%); --sidebar-primary-foreground: hsl(0 0% 100%); --sidebar-accent: hsl(240 3.7% 15.9%); --sidebar-accent-foreground: hsl(240 4.8% 95.9%); --sidebar-border: hsl(240 3.7% 15.9%); --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  /* Custom scrollbar styling. Thanks @pranathiperii. */
  pre::-webkit-scrollbar {
    width: 5px;
  }
  pre::-webkit-scrollbar-track {
    background: transparent;
  }
  pre::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  pre {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}
